@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 34 96% 67%;
  --primary-foreground: 144 100% 11%;
  --secondary: 240 4% 16%;
  --secondary-foreground: 0 0% 98%;
  --muted: 240 4% 16%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 240 4% 16%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 4% 16%;
  --input: 240 4% 16%;
  --ring: 142 71% 45%;
  --radius: 0.5rem;
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 34 96% 67%;
  --primary-foreground: 144 100% 11%;
  --secondary: 240 4% 16%;
  --secondary-foreground: 0 0% 98%;
  --muted: 240 4% 16%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 240 4% 16%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 34 96% 67%;
  --input: 240 4% 16%;
  --ring: 142 71% 45%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Changa', sans-serif;
    background: radial-gradient(circle at top left, hsl(240 10% 3.9%), hsl(240 4% 16%));
    min-height: 100vh;
  }
}

.hero-gradient {
  background: linear-gradient(135deg, 
    rgba(206, 59, 30, 0.1) 0%, 
    rgba(26, 29, 41, 0.1) 15%,
    rgba(26, 29, 41, 0.2) 85%,
    rgba(252, 176, 95, 0.1) 100%
  );
  font-family: 'Changa';
}


.card-gradient {
  background: linear-gradient(145deg,
    rgba(206, 59, 30, 0.042) 0%, 
    rgba(206, 59, 30, 0.042) 100%,
  );
  backdrop-filter: blur(10px);
}

.glow {
  position: relative;
}

.logo-shadow {
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.3));
}

.global-font{
  font-family: 'Changa', sans-serif;
}

.glow::before {
  content: '';
  position: absolute;
  inset: -1px;
  background: linear-gradient(45deg, hsl(var(--primary)), transparent);
  border-radius: inherit;
  z-index: -1;
  opacity: 0.5;
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

body {
  font-family: 'Changa', sans-serif;
}